<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77263031436-pjqvehsj6p76rhd0t8ul8t0j7af5to6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77263031436-pjqvehsj6p76rhd0t8ul8t0j7af5to6b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>77263031436-u37pqudajdli144etctfh81flhasj9p8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBP5ZVJleggPjzhBoxenG0HmkKjL4bK1kk</string>
	<key>GCM_SENDER_ID</key>
	<string>77263031436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.developments.samu.koyeKos</string>
	<key>PROJECT_ID</key>
	<string>koye-kos</string>
	<key>STORAGE_BUCKET</key>
	<string>koye-kos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77263031436:ios:997cd6f9dadbb0153ebfa9</string>
	<key>DATABASE_URL</key>
	<string>https://koye-kos.firebaseio.com</string>
</dict>
</plist>