rules_version = '2';

service cloud.firestore {
  match /databases/{databases}/documents {
      
    match /camps/{camp} {
      allow read: if request.auth != null;
      allow write: if request.auth.token.firebase.sign_in_provider in ['google.com'];

      match /images/{imageId} {
        allow read: if request.auth != null;
        allow write: if request.auth.token.firebase.sign_in_provider in ['google.com'];
      }

      match /ratings/{user_id} {
      	allow read, write: if request.auth.uid == user_id && request.auth.token.firebase.sign_in_provider in ['google.com'];
      }
      
      match /comments/{user_id} {
        allow read: if request.auth != null;
				allow write: if request.auth.uid == user_id && request.auth.token.firebase.sign_in_provider in ['google.com'];

        match /reports/{user_id} {
          allow write: if request.auth.uid == user_id && request.auth.token.firebase.sign_in_provider in ['google.com'];
        }
      }
    }
    
    match /users/{user_id} {
    	allow create: if request.auth != null;
      
      match /{documents=**} {
      	allow read, write: if request.auth.uid == user_id;
      }
    }
  }
}
